.Contexto {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-align: left;
    font-size: 90%;
    font-weight: bold;
    list-style-position: inside;
    list-style-type: disc;
    margin-bottom: 2%;
}

.divContexto {
    display: flex;
    width: 70%;
    align-self: flex-start;
    flex-direction: column;
    margin-top: -4%;
}

.divJogoForca {
    display: flex;
    width: 100%;
    height: 369.0px;
}

.divForca {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: inherit;
    text-transform: uppercase;
    width: 55%;
    height: 369.0px;
}

.divCorpo {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: white;
}

.DivTronco {
    display: flex;
    margin-bottom: -4%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 50%;
}

.DivPernas {
    height: 100%;
    width: 100%;
}

.Canva0 {
    display: flex;
    margin-top: 5%;
    visibility: hidden;
    align-self: center;
    width: 15%;
    height: 35%;
    border: 2px solid;
    border-radius: 50%;
}

.Canva1 {
    margin-right: 4%;
    visibility: hidden;
    height: 105%;
    width: 2%;
    transform: rotate(28deg);
    border: 2px solid;
}

.Canva2 {
    width: 3%;
    visibility: hidden;
    height: 100%;
    border: 2px solid;
    background-color: black;
    border-radius: 10px;
}

.Canva3 {
    height: 105%;
    width: 2%;
    visibility: hidden;
    transform: rotate(-28deg);
    border: 2px solid;
    margin-left: 3.6%;

}

.Canva4 {

    height: 60%;
    visibility: hidden;
    width: 2%;
    transform: rotate(16deg);
    border: 2px solid;
    margin-right: 2.5%;

}

.Canva5 {
    height: 60%;
    visibility: hidden;
    width: 2%;
    transform: rotate(-16deg);
    border: 2px solid;
    margin-left: 2.5%;
}

.divTraçados {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: visible;
    align-self: flex-end;
    align-items: center;
    width: 100%;
    height: 25%;
    user-select: none;
}

.divLetras {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 45%;
    height: 369.0px;
    padding-left: 1.5%;
    padding-right: 0.5%;
}

.Letra {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22%;
    height: 10%;
    border: 1.5px solid;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
    border-radius: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    user-select: none;
}

.DivCaracter {
    display: flex;
    width: 8%;
    height: 40%;
    background-color: white;
    border: 1px solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0.25px;
    margin-left: 4px;
    flex-direction: column;
    font-size: 110%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    justify-content: center;
}